body {
  background-image: url(../img/pattern.jpg);
  margin: 0;
}

header {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f8ff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding-right: 15px;
}

h1 {
  text-align: center;
}

section {
  background-color: white;
  margin-left: 80;
  margin-right: 80;
  padding: 10px;
}

article {
  border-bottom: 1px solid;
}

footer {
  background-color: black;
  color: white;
  padding: 1px;
  text-align: center;
  position: static;
  margin-top: 15px;
}
