body {
  background-image: url(../img/pattern.jpg);
  margin: 0;
}

header {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f8ff;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding-right: 15px;
}
